@import "../../../../src/styles/variables.scss";

.header{
    background-color: $background-generic;
    border: 1px solid #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    &__nav{
        display: flex;
        justify-content: left;
        gap: 10px;
        margin-left: 10px;
    }
}
